Flows-node-red/Flows.json
[{"id":"c44257f2031dca5d","type":"tab","label":"CapturaIMG","disabled":false,"info":""},{"id":"f8a79c30.3e889","type":"tab","label":"Dashboard","disabled":true,"info":""},{"id":"26762892.5ad818","type":"tab","label":"Sensores","disabled":false,"info":""},{"id":"3c63f68c.551cca","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"fdbe69ad.e2c508","type":"tab","label":"Conexion","disabled":false,"info":""},{"id":"f889e405081dc01d","type":"mqtt-broker","name":"","broker":"3.67.244.253","port":"1883","clientid":"U7","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3801d473.9233ec","type":"ui_tab","name":"Sensores","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3daa9325.e8072c","type":"ui_group","name":"Temperatura","tab":"fb5adb774fe98455","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8edb84a6.8abf18","type":"ui_group","name":"Humedad Ambiental","tab":"fb5adb774fe98455","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2abeed34.748762","type":"ui_group","name":"Humedad Tierra","tab":"fb5adb774fe98455","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2bda2320.52573c","type":"ui_group","name":"UV","tab":"fb5adb774fe98455","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c0b9d7d8.c2dbc8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f38a12","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#f38a12","edited":true},"page-titlebar-backgroundColor":{"value":"#f38a12","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#f7ae5b","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#f38a12","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"63a75c0f.0378c4","type":"ui_group","name":"Temperatura","tab":"3801d473.9233ec","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b6952ec5.c35dd","type":"ui_group","name":"Humedad Ambiente","tab":"3801d473.9233ec","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ada1bfc4.0d1f6","type":"ui_group","name":"Humedad Tierra","tab":"3801d473.9233ec","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f3a04bfd.73de88","type":"ui_group","name":"UV","tab":"3801d473.9233ec","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b43944d7.3031b8","type":"ui_group","name":"Temperatura","tab":"a61122f5.29aca","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ba7b3c64.89193","type":"ui_group","name":"Humedad Ambiental","tab":"a61122f5.29aca","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6b07c8cb.206718","type":"ui_group","name":"UV","tab":"a61122f5.29aca","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b7715acc.641c28","type":"ui_group","name":"Humedad Tierra","tab":"a61122f5.29aca","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a61122f5.29aca","type":"ui_tab","name":"Sensores","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d44b0aa3.4cbef8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"monitorPlantas","tz":"","charset":"UTF8"},{"id":"165c46ad8ac5759c","type":"inject","z":"c44257f2031dca5d","name":"","props":[{"p":"foto","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Solicitar Foto","x":810,"y":260,"wires":[["8d4bb6a6028f52b3"]]},{"id":"3fd804ccf343ccfa","type":"mqtt in","z":"c44257f2031dca5d","name":"","topic":"SaludPlantas/Esp32/SistemaDeteccion/Planta07","qos":"2","datatype":"auto","broker":"f889e405081dc01d","nl":false,"rap":true,"rh":0,"x":180,"y":200,"wires":[["9a6c0b7f3852fd94"]]},{"id":"de68aba60cd3a432","type":"function","z":"c44257f2031dca5d","name":"","func":"if(msg.payload.mensaje==\"foto_tomada\"){// si recibe el mensaje de recibido\n    flow.set('rev',1);// se guarda en al variable de confirmacion\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":200,"wires":[[]]},{"id":"a8fe18f179af60f2","type":"delay","z":"c44257f2031dca5d","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":200,"wires":[["e1d0b013b6cc1d4f"]]},{"id":"e1d0b013b6cc1d4f","type":"switch","z":"c44257f2031dca5d","name":"","property":"rev","propertyType":"flow","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":200,"wires":[["8d4bb6a6028f52b3"]]},{"id":"30de0120e2867396","type":"mqtt out","z":"c44257f2031dca5d","name":"","topic":"SaludPlantas/Esp32/SistemaDeteccion/Planta07","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f889e405081dc01d","x":1400,"y":260,"wires":[]},{"id":"8d4bb6a6028f52b3","type":"change","z":"c44257f2031dca5d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"toma_foto","tot":"str"},{"t":"set","p":"rev","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"http","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":260,"wires":[["a8fe18f179af60f2","30de0120e2867396"]]},{"id":"9a6c0b7f3852fd94","type":"json","z":"c44257f2031dca5d","name":"","property":"payload","action":"obj","pretty":true,"x":550,"y":200,"wires":[["de68aba60cd3a432","4e186a353c850aed"]]},{"id":"a19db9ac236e2983","type":"http request","z":"c44257f2031dca5d","name":"","method":"GET","ret":"bin","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":400,"wires":[["3450c93fbd5e1372"]]},{"id":"3450c93fbd5e1372","type":"file","z":"c44257f2031dca5d","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1340,"y":400,"wires":[[]]},{"id":"4e186a353c850aed","type":"function","z":"c44257f2031dca5d","name":"","func":"if(msg.payload.mensaje ==\"http\"){\n   //recuepramos el servicio  apra ahcer la peticion\n   flow.set('http',msg.payload.servicio)\n   //nombramos el nuevo archivo  de la foto\n   let num = flow.get('foto')\n   num += 1\n   flow.set('foto',num) \n   let archivo = \"/home/pi/Documents/Fotos_planta/Planta_\"+ num +\".jpg\"\n   flow.set('archivo',archivo)\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":400,"wires":[["fa172efe033c3b90"]]},{"id":"26d8384d03b75e3a","type":"file","z":"c44257f2031dca5d","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":890,"y":500,"wires":[["fa172efe033c3b90"]]},{"id":"8f25a4a34861dc09","type":"delay","z":"c44257f2031dca5d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1100,"y":500,"wires":[["e18574bc0351b8da"]]},{"id":"e18574bc0351b8da","type":"file in","z":"c44257f2031dca5d","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":880,"y":580,"wires":[["30a79875a2f3786a"]]},{"id":"30a79875a2f3786a","type":"function","z":"c44257f2031dca5d","name":"","func":"if(msg.payload.length<10000){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":500,"wires":[["26d8384d03b75e3a"]]},{"id":"fa172efe033c3b90","type":"change","z":"c44257f2031dca5d","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http","tot":"flow"},{"t":"set","p":"filename","pt":"msg","to":"archivo","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":400,"wires":[["a19db9ac236e2983","8f25a4a34861dc09"]]},{"id":"918231a26304e01e","type":"inject","z":"c44257f2031dca5d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Inicio de foto","payload":"true","payloadType":"bool","x":290,"y":100,"wires":[["2305bb3e770d9b07"]]},{"id":"2305bb3e770d9b07","type":"change","z":"c44257f2031dca5d","name":"","rules":[{"t":"set","p":"foto","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[[]]},{"id":"50f7b048.59a92","type":"mqtt in","z":"26762892.5ad818","name":"","topic":"SaludPlantas/Esp32/SistemaDeteccion/Planta07","qos":"2","datatype":"auto","broker":"f889e405081dc01d","nl":false,"rap":true,"rh":0,"x":240,"y":280,"wires":[["457053e9.e544cc"]]},{"id":"4f470274.3dfcdc","type":"inject","z":"26762892.5ad818","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"leer_sensores","payloadType":"str","x":130,"y":540,"wires":[["e453ef6d.b7cf2"]]},{"id":"fea253c2.273a2","type":"mqtt out","z":"26762892.5ad818","name":"","topic":"SaludPlantas/Esp32/SistemaDeteccion/Planta07","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f889e405081dc01d","x":560,"y":520,"wires":[]},{"id":"457053e9.e544cc","type":"json","z":"26762892.5ad818","name":"","property":"payload","action":"obj","pretty":true,"x":690,"y":280,"wires":[["83daa40b.fd2c28"]]},{"id":"575d17d9.c736f8","type":"exec","z":"26762892.5ad818","command":"python ./Documents/Programas/Temperatura_Humedad.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":600,"y":420,"wires":[["457053e9.e544cc"],[],[]]},{"id":"d1477387.0335f","type":"mqtt out","z":"26762892.5ad818","name":"","topic":"SaludPlantas/Sensores/General","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f889e405081dc01d","x":1190,"y":280,"wires":[]},{"id":"83daa40b.fd2c28","type":"function","z":"26762892.5ad818","name":"","func":"let nuevo = msg.payload;\nnuevo.usuario = flow.get(\"usuario\");\nmsg.payload = nuevo;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":280,"wires":[["d1477387.0335f"]]},{"id":"e453ef6d.b7cf2","type":"change","z":"26762892.5ad818","name":"","rules":[{"t":"set","p":"usuario","pt":"flow","to":"Planta07","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":460,"wires":[["575d17d9.c736f8","fea253c2.273a2"]]},{"id":"7588a066.72d8e","type":"mqtt in","z":"f8a79c30.3e889","name":"","topic":"SaludPlantas/Sensores/General","qos":"2","datatype":"auto","broker":"f889e405081dc01d","nl":false,"rap":true,"rh":0,"x":310,"y":280,"wires":[["6935f1c8.cbe03"]]},{"id":"6935f1c8.cbe03","type":"json","z":"f8a79c30.3e889","name":"","property":"payload","action":"obj","pretty":true,"x":630,"y":280,"wires":[["b3574bc5.020e48","55540fbd.20ef4","96054cc8.6a64e","d3e1a4f9.6c7918"]]},{"id":"b3574bc5.020e48","type":"function","z":"f8a79c30.3e889","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores1\"){\n    msg.payload = msg.payload.servicio.Temperatura;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["38382049.d2c72","99897eff.7b09a"]]},{"id":"55540fbd.20ef4","type":"function","z":"f8a79c30.3e889","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores1\"){\n    msg.payload = msg.payload.servicio.Humedad;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":240,"wires":[["cb41920f.6dc87","394492d7.df6a4e"]]},{"id":"96054cc8.6a64e","type":"function","z":"f8a79c30.3e889","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"){\n    let valor = msg.payload.servicio.Humedad_tierra;\n    if(valor == \"Humedo\"){\n        msg.payload = 5;\n        return msg;\n    }else if(valor == \"Seco\"){\n        msg.payload = 0;\n        return msg;\n    }\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":360,"wires":[["b5d29be0.b6cf88"]]},{"id":"d3e1a4f9.6c7918","type":"function","z":"f8a79c30.3e889","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"){\n    msg.payload = msg.payload.servicio.UV;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":460,"wires":[["4f45a853.9e0348","e07db435.f577f8"]]},{"id":"38382049.d2c72","type":"ui_gauge","z":"f8a79c30.3e889","name":"","group":"63a75c0f.0378c4","order":1,"width":"6","height":"6","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"°C","seg2":"°C","className":"","x":1230,"y":100,"wires":[]},{"id":"394492d7.df6a4e","type":"ui_gauge","z":"f8a79c30.3e889","name":"","group":"b6952ec5.c35dd","order":1,"width":"6","height":"6","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1230,"y":240,"wires":[]},{"id":"b5d29be0.b6cf88","type":"ui_gauge","z":"f8a79c30.3e889","name":"","group":"ada1bfc4.0d1f6","order":1,"width":"6","height":"6","gtype":"wave","title":"","label":"","format":"","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1230,"y":360,"wires":[]},{"id":"e07db435.f577f8","type":"ui_gauge","z":"f8a79c30.3e889","name":"","group":"f3a04bfd.73de88","order":1,"width":"6","height":"6","gtype":"gage","title":"","label":"Volts","format":"{{value}}","min":0,"max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1230,"y":480,"wires":[]},{"id":"99897eff.7b09a","type":"ui_chart","z":"f8a79c30.3e889","name":"","group":"63a75c0f.0378c4","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":60,"wires":[[]]},{"id":"cb41920f.6dc87","type":"ui_chart","z":"f8a79c30.3e889","name":"","group":"b6952ec5.c35dd","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":200,"wires":[[]]},{"id":"4f45a853.9e0348","type":"ui_chart","z":"f8a79c30.3e889","name":"","group":"f3a04bfd.73de88","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":440,"wires":[[]]},{"id":"52cd6488.075adc","type":"mqtt in","z":"3c63f68c.551cca","name":"","topic":"SaludPlantas/Sensores/General","qos":"2","datatype":"auto","broker":"f889e405081dc01d","nl":false,"rap":true,"rh":0,"x":310,"y":280,"wires":[["fe4b5815.307cd8"]]},{"id":"fe4b5815.307cd8","type":"json","z":"3c63f68c.551cca","name":"","property":"payload","action":"obj","pretty":true,"x":630,"y":280,"wires":[["9b71a3f2.600f2","e579c5c7.b96488","637c8062.a63c4","a4900363.4c4b1","67397d0b.fa0a44","a995b0e5.50314"]]},{"id":"9dc70a62.e4fa08","type":"ui_gauge","z":"3c63f68c.551cca","name":"","group":"b43944d7.3031b8","order":1,"width":"6","height":"6","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"°C","seg2":"°C","className":"","x":1230,"y":100,"wires":[]},{"id":"9b71a3f2.600f2","type":"function","z":"3c63f68c.551cca","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores1\"){\n    msg.payload = msg.payload.servicio.Temperatura;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["9dc70a62.e4fa08","62338c39.1576d4"]]},{"id":"e579c5c7.b96488","type":"function","z":"3c63f68c.551cca","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores1\"){\n    msg.payload = msg.payload.servicio.Humedad;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":240,"wires":[["24ec9148.28496e","7694e461.21200c"]]},{"id":"62338c39.1576d4","type":"ui_chart","z":"3c63f68c.551cca","name":"","group":"b43944d7.3031b8","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":60,"wires":[[]]},{"id":"24ec9148.28496e","type":"ui_chart","z":"3c63f68c.551cca","name":"","group":"ba7b3c64.89193","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":200,"wires":[[]]},{"id":"7694e461.21200c","type":"ui_gauge","z":"3c63f68c.551cca","name":"","group":"ba7b3c64.89193","order":1,"width":"6","height":"6","gtype":"wave","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1230,"y":240,"wires":[]},{"id":"637c8062.a63c4","type":"function","z":"3c63f68c.551cca","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"  && msg.payload.usuario ==\"Planta01\"){\n    msg.payload = msg.payload.servicio.Humedad_tierra;\n    return msg\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":320,"wires":[["7daedefb.2667d"]]},{"id":"a4900363.4c4b1","type":"function","z":"3c63f68c.551cca","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"){\n    msg.payload = msg.payload.servicio.UV;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":500,"wires":[["9fdba6b0.ceb128","9f277349.3a6ec"]]},{"id":"9fdba6b0.ceb128","type":"ui_chart","z":"3c63f68c.551cca","name":"","group":"6b07c8cb.206718","order":2,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":500,"wires":[[]]},{"id":"9f277349.3a6ec","type":"ui_gauge","z":"3c63f68c.551cca","name":"","group":"6b07c8cb.206718","order":1,"width":"6","height":"6","gtype":"gage","title":"","label":"Volts","format":"{{value}}","min":0,"max":"3.5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1230,"y":540,"wires":[]},{"id":"7daedefb.2667d","type":"ui_text","z":"3c63f68c.551cca","group":"b7715acc.641c28","order":0,"width":"6","height":"4","name":"","label":"Planta01","format":"{{msg.payload}}","layout":"col-center","className":"","x":1240,"y":320,"wires":[]},{"id":"67397d0b.fa0a44","type":"function","z":"3c63f68c.551cca","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"  && msg.payload.usuario ==\"Planta07\"){\n    msg.payload = msg.payload.servicio.Humedad_tierra;\n    return msg\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":360,"wires":[["bcd0434c.d30b9"]]},{"id":"bcd0434c.d30b9","type":"ui_text","z":"3c63f68c.551cca","group":"b7715acc.641c28","order":0,"width":"6","height":"4","name":"","label":"Planta07","format":"{{msg.payload}}","layout":"col-center","className":"","x":1240,"y":360,"wires":[]},{"id":"a995b0e5.50314","type":"function","z":"3c63f68c.551cca","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"  && msg.payload.usuario ==\"Planta02\"){\n    msg.payload = msg.payload.servicio.Humedad_tierra;\n    return msg\n    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":400,"wires":[["dd6d0990.747458"]]},{"id":"dd6d0990.747458","type":"ui_text","z":"3c63f68c.551cca","group":"b7715acc.641c28","order":0,"width":"6","height":"4","name":"","label":"Planta02","format":"{{msg.payload}}","layout":"col-center","className":"","x":1240,"y":400,"wires":[]},{"id":"105d2274.404e3e","type":"mqtt in","z":"fdbe69ad.e2c508","name":"","topic":"SaludPlantas/Sensores/General","qos":"2","datatype":"auto","broker":"f889e405081dc01d","nl":false,"rap":true,"rh":0,"x":170,"y":260,"wires":[["3c8dc9f1.fa7886"]]},{"id":"3c8dc9f1.fa7886","type":"json","z":"fdbe69ad.e2c508","name":"","property":"payload","action":"obj","pretty":true,"x":410,"y":260,"wires":[["a83d6b0a.32f068","d2cab28d.21e95","fa44ceb.97abf3","37bb9fd6.72626","de621929.035498"]]},{"id":"a83d6b0a.32f068","type":"function","z":"fdbe69ad.e2c508","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores1\"){\n    let cadena =\"INSERT INTO DHTTEMP VALUES(\";\n    cadena += flow.get(\"idt\");\n    cadena += \",\";\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += msg.payload.servicio.Temperatura;\n    cadena +=\");\";\n    msg.topic = cadena;\n    let b = flow.get(\"idt\");\n    b += 1;\n    flow.set(\"idt\",b);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["6889d4a1.c3ad5c"]]},{"id":"d2cab28d.21e95","type":"function","z":"fdbe69ad.e2c508","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores1\"){\n    let cadena =\"INSERT INTO DHTHUM VALUES(\";\n    cadena += flow.get(\"idha\");\n    cadena += \",\";\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += msg.payload.servicio.Humedad;\n    cadena +=\");\";\n    msg.topic = cadena;\n    let b = flow.get(\"idha\");\n    b += 1;\n    flow.set(\"idha\",b);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":200,"wires":[["6889d4a1.c3ad5c"]]},{"id":"fa44ceb.97abf3","type":"function","z":"fdbe69ad.e2c508","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"){\n    let cadena =\"INSERT INTO HUMT VALUES(\";\n    cadena += flow.get(\"idht\");\n    cadena += \",\";\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += \"null\";\n    cadena += \",\\\"\"\n    cadena += msg.payload.servicio.Humedad_tierra;\n    cadena +=\"\\\");\";\n    msg.topic = cadena;\n    let b = flow.get(\"idht\");\n    b += 1;\n    flow.set(\"idht\",b);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":340,"wires":[["6889d4a1.c3ad5c"]]},{"id":"37bb9fd6.72626","type":"function","z":"fdbe69ad.e2c508","name":"","func":"if(msg.payload.mensaje ==\"datos_sensores2\"){\n    let cadena =\"INSERT INTO UV VALUES(\";\n    cadena += flow.get(\"iduv\");\n    cadena += \",\";\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += \"null\";\n    cadena += \",\"\n    cadena += msg.payload.servicio.UV;\n    cadena +=\");\";\n    msg.topic = cadena;\n    let b = flow.get(\"iduv\");\n    b += 1;\n    flow.set(\"iduv\",b);\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["6889d4a1.c3ad5c"]]},{"id":"6889d4a1.c3ad5c","type":"mysql","z":"fdbe69ad.e2c508","mydb":"d44b0aa3.4cbef8","name":"","x":900,"y":260,"wires":[[]]},{"id":"d197371d.791098","type":"change","z":"fdbe69ad.e2c508","name":"","rules":[{"t":"set","p":"id","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"idt","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"idha","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"idht","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"iduv","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"cambio","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[[]]},{"id":"9b85d045.9b58b","type":"inject","z":"fdbe69ad.e2c508","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":270,"y":120,"wires":[["d197371d.791098"]]},{"id":"de621929.035498","type":"function","z":"fdbe69ad.e2c508","name":"","func":"let cadena =\"INSERT INTO registro VALUES (null,\\\"\";\ncadena += msg.payload.usuario\ncadena += \"\\\",\\\"\";\ncadena += msg.payload.usuario;\ncadena += \"\\\",\"\ncadena += flow.get(\"id\");\ncadena += \",\"\ncadena += flow.get(\"id\");\ncadena += \",\"\ncadena += flow.get(\"id\");\ncadena += \",\"\ncadena += flow.get(\"id\");\ncadena +=\");\";\nmsg.topic = cadena;\nif (flow.get(\"cambio\") == 0){\n    let b = flow.get(\"id\");\n    b += 1;\n    flow.set(\"id\",b);\n    flow.set(\"cambio\",0);\n}else{\n    flow.set(\"cambio\",0);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":260,"wires":[["6889d4a1.c3ad5c"]]}]